@import "variables.scss";
@import "themes.scss";

@import "portfolio.scss";


main {
  background-color:black;
}

//general
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 80px 20px 0;
}


//styles for about me
.intro { 
  display: flex;
  flex-direction: row; 

  &__about {
    flex-basis: 75%;
    width: 75%;
  }

  &__about--drop::first-letter {
    font-size: 44px;
    float: left;
    line-height: 35px;
    padding-top: 3px;
    padding-right: 3px;
    font-family: Times, serif, Georgia;
  }

  &__img {
    margin-top: 25px;
    border-radius: 50%;
    max-height: 15rem;
    flex-basis: 25%;
    width: 25%;
  }

}

@media (max-width: 768px) {
  .intro {
    outline:1px solid red; 
    flex-direction: column;

    &__about {
      flex-basis: 100%;
      width: 100%;
    }

    &__promo {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

//skills stylesheet portion

.skills {
  &__container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
  }


  &__set {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

  }

  &__label {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;

  }
}
