//skills stylesheet portion

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 20px 50px;

	&__container {
		display: flex;
		flex-flow: row wrap;
		margin-left: -8px;
		margin-right: -8px;
	}


	&__set {
		display: flex;
		flex-direction: row;
		-webkit-box-align: center;
		align-items: center;
		padding-left: 8px;
		padding-right: 8px;
	}

	&__icon {
		width: 24px;
		height: 24px;
		flex-shrink: 0;

	}

	&__label {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 8px;

	}
}
